@{
ViewData["Title"] = "Contact";
}

<br />
<div class="row" id="userCredentials">
    <div class="col-md-4" id="emailBlock">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Name:</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp"
                    placeholder="Enter Name" data-bind="value: inputUsername">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="thor@asgard.com"
                    data-bind="value: inputPassword">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Message:</span>
                </div>
                <textarea id="emailTextArea" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-primary" data-bind="click: login"> Send! </button>
        </form>
    </div>
</div>
