@{
    ViewData["Title"] = "Home Page";
}
<div class="header">
    <div class="row">
        <div class="col-lg-12">
            <img id="selfportrait" src="~/images/selfportrait.png" style="width: 350px">
            <div class="intro-text">
                <span class="fullName"> Armando Vila </span>
                <hr / id="nameSeperator">
                <span class="whatIDo">Software Engineer</span>
            </div>
        </div>
    </div>
</div>
<div class="skills">
    <div class="row">
        <h2>Skills</h2>
        <div class="col-md-3" style="width: 100%;">
            <div id="terminal">
                <pre><output>Skills: Compiled successfully.
                Skills: Compiling...
                Hash: N/A
                Version: Skills 1.0.0
                Time: 1337ms
                                            Skill                     Rank  
                                    Javascript       Highly Experienced      
                                            HTML       Highly Experienced   
                                            CSS       Highly Experienced    
                                            C#       Highly Experienced      
                                            Java       Highly Experienced      
                                            Swift              Experienced    
                                            C++              Experienced          
                                                C              Experienced         
                {0} {1} </output></pre>
            </div>
        </div>
    </div>
</div>
<div class="experience">
    <div class="row">
        <div class="col-md-3">
            <h3>Software Engineer Intern at Buildertrend</h3>
        </div>
        <div class="col-md-3">
            <p>Worked on multiple Web Applications using ASP.Net, and worked with Mobile IOS development.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>IT Technical Assistant at Iowa State University</h3>
        </div>
        <div class="col-md-3">
            <p>Worked on maintaining Systems in check and provided assistance and solutions to users in need of them.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Lab Monitor at Iowa State University</h3>
        </div>
        <div class="col-md-3">
            <p>Maintained the Systems of the Engineering department in top condiditons and provided solutions to nay gicen System fault.</p>
        </div>
    </div>
</div>
